gradio>=5.0.0
transformers
torch
accelerate
bitsandbytes
youtube-transcript-api
yt-dlp
pandas
spacy
google-api-python-client
isodate
cefrpy
fpdf2
markitdown
curl_cffi
python-dotenv
pydantic>=2.0.0
pytubefix
requests
